# TrackML Library Orientation

---

Getting Oriented with the [TrackML Library](https://github.com/LAL/trackml-library).

In [7]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

import matplotlib.pyplot as plt
import numpy as np
import os
from pathlib import Path

from trackml.dataset import *
from trackml.randomize import *
from trackml.score import *
from trackml.weights import *

In [21]:
path = Path('data/competitions/trackml-particle-identification')
path_trn = path/'train_100_events'

In [28]:
os.listdir(path_trn)[:10]

['event000001073-hits.csv',
 'event000001072-hits.csv',
 'event000001086-cells.csv',
 'event000001054-particles.csv',
 'event000001000-truth.csv',
 'event000001043-particles.csv',
 'event000001035-cells.csv',
 'event000001021-cells.csv',
 'event000001014-truth.csv',
 'event000001092-cells.csv']

In [29]:
event_ids = [o.split('-')[0] for o in os.listdir(path_trn)]
event_ids = np.unique(event_ids)

In [39]:
random_event = np.random.choice(event_ids)
hits, cells, particles, truth = load_event(path_trn/random_event)

In [40]:
shuffled = shuffle_hits(truth, 0.05)
score = score_event(truth, shuffled)

In [46]:
truth.head()

,hit_id,particle_id,tx,ty,tz,tpx,tpy,tpz,weight
0,1,112593770255482880,-61.440300,-11.388600,-1502.5,-0.500029,-0.108078,-12.312800,0.000008
1,2,22525763437723648,-64.340302,-5.405970,-1502.5,-1.254670,-0.123671,-29.371901,0.000016
2,3,81066098962726912,-71.901497,-3.622550,-1502.5,-0.223835,0.005906,-4.468800,0.000006
3,4,229688460078743552,-96.986504,-6.291530,-1502.5,-0.156155,0.017297,-2.345860,0.000008
4,5,328766346210836480,-75.786003,0.932985,-1502.5,-0.305416,0.026403,-6.090010,0.000006

In [43]:
shuffled.head()

   hit_id  track_id
0       1      3674
1       2      3703
2       3      1298
3       4      5392
4       5      3072

In [41]:
score

0.949610699665697

---

In [48]:
hits.head()

   hit_id          x          y       z  volume_id  layer_id  module_id
0       1 -61.443298 -11.380900 -1502.5          7         2          1
1       2 -64.341103  -5.389760 -1502.5          7         2          1
2       3 -71.902901  -3.627620 -1502.5          7         2          1
3       4 -96.995003  -6.304570 -1502.5          7         2          1
4       5 -75.784897   0.931861 -1502.5          7         2          1

In [49]:
cells.head()

   hit_id  ch0   ch1     value
0       1  298   571  0.291315
1       2  174   614  0.297029
2       3  127   745  0.116041
3       3  127   746  0.147829
4       4  141  1194  0.274489

In [50]:
particles.head()

,particle_id,vx,vy,vz,px,py,pz,q,nhits
0,4503737066323968,0.007287,-0.011532,0.279592,-0.171464,-0.396773,3.093680,-1,2
1,4503805785800704,0.007287,-0.011532,0.279592,-0.717344,0.726660,1.677960,1,12
2,4503874505277440,0.007287,-0.011532,0.279592,0.890155,0.163685,0.727466,-1,13
3,4503943224754176,0.007287,-0.011532,0.279592,1.415850,1.695700,-1.231340,-1,11
4,4504011944230912,0.007287,-0.011532,0.279592,0.211300,0.638523,-0.411258,1,14

In [51]:
random_event

'event000001093'